{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <div class="col-md-6 offset-md-3 row">
        {{ form_start(form, { 'attr': {'class': 'col-12 row'} }) }}
        <div class="col">
            <div class="row mb-3">
                <div class="col-6">
                    <label for="inputEmail">Nouveau mot de passe :</label>
                </div>
                <div class="col-6 mb-2">
                    {{ form_widget(form.mdp, { 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-6 mb-2">
                    <label for="inputEmail">Confirmation mot de passe :</label>
                </div>
                <div class="col-6">
                    {{ form_widget(form.mdp2, { 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {{ form_widget(form.enregistrer, { 'attr': {'class': 'btn btn-lg btn-primary'}}) }}

        </div>

        {{ form_end(form) }}
    </div>


    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}


