{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<div class="">
    <div class="row">
        {{ form_start(form,{'attr': {'class': 'col-12 row'}}) }}
        {% if app.user.photo != null %}
            <div class="col-2 ml-5 mt-5">
                <img style="border: 4px solid black; overflow: auto; width: 100%" src="{{ asset('images/') }}{{ app.user.photo }}">
                {{ form_widget(form.ImportPhoto, {'attr': {'class': 'mt-4'}})}}
            </div>
        {% else %}
            <div class="col-2 ml-5 mt-5">
                <img class="mb-3" style="border: 4px solid black; overflow: auto; width: 100%" src="{{ asset('images/default_profil.png') }}">
                {{ form_widget(form.ImportPhoto, {'attr': {'class': 'mt-4'}})}}
            </div>
        {% endif %}
        <div class="col-8" style="overflow: auto">
            <div class="text-center"><h2>Mon profil</h2></div>
            <div class="col-md-6 offset-md-3 ">
                <div class="row mb-2">
                    <div class="col">Mon pseudo : </div>
                    <div class="col">{{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Mon prénom : </div>
                    <div class="col">{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Mon nom : </div>
                    <div class="col">{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Mon tel : </div>
                    {% if app.user.numTel != null %}
                        <div class="col">{{ form_widget(form.num_tel, {'attr': {'class': 'form-control'}}) }}</div>
                    {% else %}
                    <div class="col">{{ form_widget(form.num_tel, {'attr': {'class': 'form-control'}}) }}</div>
                    {% endif %}
                </div>
                <div class="row mb-2">
                    <div class="col">Mon email : </div>
                    <div class="col">{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</div>
                </div>

                <div class="row mb-2">
                    <div class="col">Mot de passe : </div>
                    <div class="col">{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Confirmation : </div>
                    <div class="col">{{ form_widget(form.ConfirmPassword, {'attr': {'class': 'form-control'}}) }}</div>
                </div>

                <div class="row mb-2">
                    <div class="col">Ville de rattachement : </div>
                    <div class="col">{{ form_widget(form.id_ville, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 offset-md-3 row">
    <div class="col text-center"><button class="btn btn-primary btn-lg btn-success">Enregistrer</button></div>
    <div class="col text-center"><button type="reset" class="btn btn-primary btn-lg btn-danger" onclick="window.location='{{ path('homepage') }}'">Annuler</button></div>
</div>
    {{ form_end(form, {"render_rest":false}) }}
<script>

    $( document ).ready(function() {
        $("#utilisateur_id_ville").val("{{app.user.idVille.id}}");
    });

</script>
{% endblock %}