{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<div class="">
    <div class="row">
        <div class="col-2">
            <img style="border: 4px solid black; overflow: auto" src="/images/default_profil.png">
        </div>
        <div class="col-8" style="overflow: auto">
            <div class="text-center"><h2>Mon profil</h2></div>
            <div class="col-md-6 offset-md-3 ">
                {{ form_start(form) }}
                <div class="row mb-2">
                    <div class="col">Mon pseudo : </div>
                    <div class="col">{{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Mon prénom : </div>
                    <div class="col">{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Mon nom : </div>
                    <div class="col">{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Mon tel : </div>
                    {% if app.user.numTel != null %}
                        <div class="col">{{ form_widget(form.num_tel, {'attr': {'class': 'form-control'}}) }}</div>
                    {% else %}
                    <div class="col">{{ form_widget(form.num_tel, {'attr': {'class': 'form-control'}}) }}</div>
                    {% endif %}
                </div>
                <div class="row mb-2">
                    <div class="col">Mon email : </div>
                    <div class="col">{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Mot de passe : </div>
                    <div class="col">{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Confirmation : </div>
                    <div class="col">{{ form_widget(form.ConfirmPassword, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col">Ville de rattachement : </div>
                    <div class="col">{{ form_widget(form.id_ville, {'attr': {'class': 'form-control'}}) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 offset-md-3 row">
    <div class="col text-center"><button class="btn btn-primary btn-lg btn-success">Enregistrer</button></div>
    <div class="col text-center"><button class="btn btn-primary btn-lg btn-danger">Annuler</button></div>
</div>
    {{ form_end(form) }}
<script>

    $( document ).ready(function() {
        $("#utilisateur_id_ville").val("{{app.user.idVille.id}}");
    });

</script>
{% endblock %}