{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="text-center mb-5"><h2>Afficher une sortie</h2></div>
        {% if sortie.etat == "Annulée" %}
            <div class="text-center mb-5 text-danger"><h2>Sortie annulée ! </h2></div>
        {% endif %}
        <div class="row col mb-5">
            <div class="col-6">
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Nom de la sortie : </div>
                        <div class="col-6">{{ sortie.nom }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Date et heure de la sortie : </div>
                        <div class="col-6">{{ sortie.DateSortie|date("d-m-Y H:i") }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Date limite inscription : </div>
                        <div class="col-6">{{ sortie.DateFinInscription|date("d-m-Y H:i") }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Nombre de place : </div>
                        <div class="col-6">{{ sortie.NbPlace }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Durée : </div>
                        <div class="col-6">{{ sortie.duree }} minutes</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Descripiton et infos : </div>
                        <div class="col-6">{{ sortie.description }}</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Ville organisatrice : </div>
                        <div class="col-6">{{ ville.nom }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Lieu : </div>
                        <div class="col-6">{{ lieu.nom }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Rue : </div>
                        <div class="col-6">{{ lieu.rue }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Code postal : </div>
                        <div class="col-6">{{ lieu.CodePostal }}</div>
                    </div>
                </div>
                {% if lieu.longitude%}
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Longitude : </div>
                        <div class="col-6">{{ lieu.longitude }}</div>
                    </div>
                </div>
                {% endif %}
                {% if lieu.latitude %}
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Latitude : </div>
                        <div class="col-6">{{ lieu.latitude }}</div>
                    </div>
                </div>
                {% endif %}
                {% if sortie.etat == "Annulée" %}
                    <div class="col">
                        <div class="row">
                            <div class="text-danger col-6">Motif d'annulation : </div>

                            <div class="col-6">
                                <textarea class="form-control" readonly>{{ sortie.motif }}</textarea>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="ml-3">
        <strong>Liste des participants inscrits ({{ participants|length }}/{{ sortie.NbPlace }}):</strong>
        <div class="col-3" style="overflow: auto; height: 200px">
            <table class="table">
                <thead>
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Pseudo</td>
                    </tr>
                </thead>
                <tbody>
                    {% for p in participants %}

                        <tr>
                            <td>{{ p.nom }}</td>
                            <td>{{ p.prenom }}</td>
                            <td>{{ p.pseudo }}</td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
