{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <div class="text-center mb-5"><h2>Créer une sortie</h2></div>
        <div class="row col-12 mb-5">
            {{ form_start(form, { 'attr': {'class': 'col-12 row'} }) }}
            <div class="col-6">
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Nom de la sortie : </div>
                        <div class="col-6">{{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Date et heure de la sortie : </div>
                        <div class="col-6">{{ form_widget(form.date_sortie) }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Date limite inscription : </div>
                        <div class="col-6">{{ form_widget(form.date_fin_inscription) }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Nombre de place : </div>
                        <div class="col-6">{{ form_widget(form.nb_place, { 'attr': {'class': 'form-control'} }) }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Durée : </div>
                        <div class="col-6">{{ form_widget(form.duree, { 'attr': {'class': 'form-control'} }) }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Descripiton et infos : </div>
                        <div class="col-6">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Ville : </div>
                        <div class="col-6">{{ form_widget(form.id_ville, { 'attr': {'class': 'form-control'} }) }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Lieu : </div>
                        <div class="col-6">{{ form_widget(form.id_lieu, { 'attr': {'class': 'form-control'} }) }}</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Rue : </div>
                        <div class="col-6"><p id="rue"></p></div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Code postal : </div>
                        <div class="col-6"><p id="cdp"></p></div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Longitude : </div>
                        <div class="col-6"><p id="lon"></p></div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Latitude : </div>
                        <div class="col-6" ><p id="lat"></p></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 offset-md-3 row">
                <div class="col text-center">{{ form_widget(form.enregistrer) }}</div>
            </div>
            {{ form_end(form, {"render_rest":false}) }}
        </div>
    </div>
    <script>

        $("#sortie_id_ville").change(function (){
            $.ajax({
                url:"{{ path('data_ville') }}",
                data: { "id_ville":$("#sortie_id_ville").val()},
                success: function(data) {
                    $("#sortie_id_lieu").empty();
                    for (var i=0; i<data.lieus.length; i++){
                        $("#sortie_id_lieu").append($('<option>', {
                            value: data.lieus[i].id,
                            text: data.lieus[i].nom
                        }));
                    }
                    $.ajax({
                        url:"{{ path('data_lieu') }}",
                        data: { "id_lieu":$("#sortie_id_lieu").val()},
                        success: function(data) {
                            $("#rue").html(data.rue);
                            $("#cdp").html(data.codePostal);
                            $("#lon").html(data.longitude);
                            $("#lat").html(data.latitude);
                        }});
                }});
        });
        $( document ).ready(function() {
            $.ajax({
                url:"{{ path('data_ville') }}",
                data: { "id_ville":$("#sortie_id_ville").val()},
                success: function(data) {
                    $("#sortie_id_lieu").empty();
                    for (var i=0; i<data.lieus.length; i++){
                        $("#sortie_id_lieu").append($('<option>', {
                            value: data.lieus[i].id,
                            text: data.lieus[i].nom
                        }));
                    }
                    $.ajax({
                        url:"{{ path('data_lieu') }}",
                        data: { "id_lieu":$("#sortie_id_lieu").val()},
                        success: function(data) {
                            $("#rue").html(data.rue);
                            $("#cdp").html(data.codePostal);
                            $("#lon").html(data.longitude);
                            $("#lat").html(data.latitude);
                        }});
                }});
        });
        $("#sortie_id_lieu").change(function (){
            $.ajax({
                url:"{{ path('data_lieu') }}",
                data: { "id_lieu":$("#sortie_id_lieu").val()},
                success: function(data) {
                    console.log(data);
                    $("#rue").html(data.rue);
                    $("#cdp").html(data.codePostal);
                    $("#lon").html(data.longitude);
                    $("#lat").html(data.latitude);
                }});
        });
    </script>
{% endblock %}
