{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-3 ml-md-auto mb-4">
        <strong>Date du jour : {{date }}</strong>
        <strong>Participant(e) : {{ app.user.pseudo }}</strong>
    </div>
    <div class="row">
        <div class="col-6" style="overflow: auto">
            <strong>Filtrer les sorties</strong>
            <div>
                <div class="row mb-3" style="white-space: nowrap;">
                    <div class="col">Site : </div>
                    <div class="col">
                        <select class="form-control" name="site" id="site">
                            <option value="">Choisir un site</option>
                            {% for ville in villes %}
                                <option value="{{ ville.id }}">{{ ville.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3" style="white-space: nowrap;">
                    <div class="col">Le nom de la sortie contient : </div>
                    <div class="col"><input type="text" class="form-control" id="search"></div>
                </div>
                <div class="col  mb-3" style="white-space: nowrap;">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <p>Entre :</p>
                                <input type="date" class="form-control" style="width:75%" id="start" name="trip-start">
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <p> et </p>
                                <input type="date" class="form-control" style="width:75%" id="end" name="trip-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="overflow: auto">
            <div class="">
                <nobr>
                    <input type="checkbox" id="orga" name="orga">
                    <label for="orga">Sorties dont je suis l'organisateur/trice</label>
                </nobr>
            </div>
            <div class="">
                <nobr>
                    <input type="checkbox" id="inscrit" name="inscrit">
                    <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                </nobr>
            </div>
            <div style="">
                <nobr>
                    <input type="checkbox" id="noninscrit" name="noninscrit">
                    <label for="noninscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                </nobr>
            </div>
            <div class="">
                <nobr>
                    <input type="checkbox" id="sortiesPasse" name="sortiesPasse">
                    <label for="sortiesPasse">Sorties passées</label>
                </nobr>
            </div>
        </div>
        <div class="col-2">
            <button class="button btn-primary btn-lg mt-4" onclick="rechercher()">Rechercher</button>
        </div>
    </div>
    <div id="dtTable" class="mt-3" style=" overflow:auto;">

    </div>
    {% if is_granted('ROLE_EDITOR') %}
        <div class="col-2">
            <button class="button btn-primary btn-lg mt-4">Créer une sortie </button>
        </div>
    {% endif %}
</div>
<input class="d-none" id="id_user" value="{{ app.user.id}}">
<script>
    $( document ).ready(function() {
        $.ajax({
            url:"{{ path('afficher_DtTableSorties') }}",
            success: function(data) {
               $("#dtTable").html(data);
            }
        });
    });
    function rechercher(){
        var id_site = $("#site").val();
        var nom_sortie = $("#search").val();
        var start = $("#start").val();
        var end = $("#end").val();
        var is_user =$("#id_user").val();
        var orga =$("#orga").is(':checked');
        var inscrit = $("#inscrit").is(':checked');
        var noninscrit = $("#noninscrit").is(':checked');
        var sortiesPasse = $("#sortiesPasse").is(':checked');
        $.ajax({
            url:"{{ path('afficher_DtTableSorties') }}",
            data: { "id_site": id_site,"id_user": is_user, "nom_sortie":nom_sortie, "start":start, "end":end, "orga":orga, "inscrit":inscrit, "noninscrit":noninscrit, "sortiesPasse":sortiesPasse},
            success: function(data) {
                $("#dtTable").html(data);
            }
        });



    }
</script>
{% endblock %}


