<table class="table" style="width:98%!important">
    <tr>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Clôture</th>
        <th>Inscrits/places</th>
        <th>Etat</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>
    </tr>
        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.date_sortie|date("d-m-Y H:i") }}</td>
            <td>{{ sortie.date_fin_inscription }}</td>
            <td>0/{{ sortie.nb_place }}</td>
            <td>{{ sortie.etat }}</td>
            <td>
            </td>
            <td>sortie.pseudo</td>
        <td class="row">
            <a href="{{ path('afficher_sortie',{ 'id': sortie.id }) }}">Afficher</a>
            {% if sortie.organisateur_id == app.user.id %}
                <a href="{{  path('annuler_sortie',{ 'id': sortie.id })  }}"> - Annuler</a>
            {% else %}
                {% if sortie.etat != "En création" and date(sortie.date_sortie) < date() and sortie.id in user.sorties %}
                    <p> - </p>
                    <a>Se désister</a>
                {% elseif sortie.etat != "En création" and date(sortie.date_fin_inscription) < date() and sortie.id not in user.sorties%}
                    <p> - </p>
                    <a href="{{ path('inscription_sortie',{ 'id': sortie.id }) }}">S'inscrire</a>
                {% endif %}

                {% if sortie.etat == "En création" %}
                    <a>Modifier</a>
                    <p> - </p>
                    <a>Publier</a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
        {% endfor %}

</table>