<table class="table">
    <tr>
        <th>Pseudo</th>
        <th>Nom & Prénom</th>
        <th>email</th>
        <th>Actif ?</th>
        <th>Rôles</th>
        <th>Action</th>
    </tr>
    {% for u in users %}
        <tr>
            <td id="pseudo_{{ u.id }}">{{ u.pseudo }}</td>
            <td>{{ u.nom }} {{ u.prenom }}</td>
            <td>{{ u.email }}</td>
            <td class="text-center">
                {% if u.actif == 0%}
                    <input type="checkbox" class="checkbox" id="actif_{{ u.id }}" disabled name="actif_{{ u.id }}" readonly="readonly">
                {% else %}
                    <input type="checkbox" id="actif_{{ u.id }}" name="actif_{{ u.id }}" disabled checked>
                {% endif %}
            </td>
            <td>{% for role in u.roles %}
                <p>{{ role }}</p>
                {% endfor %}
            </td>
            <td>
               <p> <button class="btn" onclick="toggleActif({{ u.id }})">Toggle actif</button>
                -
                <button class="btn" onclick="remove({{ u.id }})">Supprimer</button></p>
            </td>
        </tr>

    {% endfor %}
</table>